@import url(reset.css);


.page{
	height: 30px;
	width: 100%;
	background-color: lightgrey;

}

.page h1{
	text-transform: uppercase;
}

.footer{
	height: 30px;
	width: 100%;
	text-transform: uppercase;
	background-color: lightgrey;
}

.columns{
	width: 80vw;
	margin: auto;
	
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color: white;
	vertical-align: top;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column{
	width: calc((100% - 50px)/3);
	background-color: lightblue;
	border: 5px solid pink;
}

.image1{
	background-image: url(../img/yellow.jpg);
	background-size: cover;
	min-height: 50px;
	background-position: center;
	padding-bottom: 100%;
	 
}

.image2{
	background-image: url(../img/numbrs.jpg);
	background-size: cover;
	min-height: 50px;
	background-position: center;
	padding-bottom: 100%;
	 
}

.image3{
	background-image: url(../img/fuji.jpg);
	background-size: cover;
	min-height: 50px;
	background-position: center;
	padding-bottom: 100%;
	 
}