.header{
	width: 500px;
	height: 200px;
	background-color: blue;
	background-image: url(../img/Statue-of-David.jpg);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
  

  .bigSection {
    height: 200px;
	background-image: url(../img/Statue-of-David.jpg);
    background-position: center;  	
    background-attachment: fixed;

  }